<Router AppAssembly="typeof(Program).Assembly">
    <!-- Render the matched route -->
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>

    <!-- Render this block for unmatched routes -->
    <NotFound>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>